@model Repository.DomainModel.Repository.Repository
@{
    ViewBag.Title = "Details";
}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">جزئیات</div>
    <div class="panel-body">
        <p>...</p>
    </div>
    <div>
        <br />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RepositoryType.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepositoryType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayName("روش قیمت گذاری")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PriceEstimateId)
            </dd>

        </dl>
    </div>
    <!-- Table -->
    <div class="panel-footer">
        <div class="container">
            @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning col-md-3" })
            @Html.ActionLink("بازگشت", "Index", null, new { @class = "btn btn-default  col-md-3" })
        </div>
    </div>
</div>
